<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sockets Example</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.sound.js"></script>
    <script type="text/javascript" src="/blackboard/sketch.js"></script>
    <link rel="stylesheet" href="blackboard.css">

  </head>
  <body>
    <h1 class="title">Blackboard</h1>
    <h3 class="sub-title"><a target="_blank" href="http://localhost:3000/blackboard">Open a new blackboard</a>, draw something with your mouse on one board and see what happen on the other one.</h3>
    <div class="home">
        <a href="http://localhost:3000/">Go back to Home</a>
    </div>
  </body>
</html>
