body {
  background-color: #333; }

canvas {
  margin: 40px; }

a, a:link, .a:visited, .a:hover, .a:active {
  text-decoration: none;
  color: gray; }

.title {
  color: wheat;
  text-align: center; }

.sub-title {
  color: wheat;
  text-align: center; }

.home {
  font-size: 1.5em;
  text-align: center; }
